.vs
SearchJob/bin
SearchJob/obj
SearchJob/Properties
wwwroot
appsettings.Development.json
appsettings.json
bundleconfig.json
Program.cs
SearchJobWeb.csproj
SearchJobWeb.csproj.user
Startup.cs
ProjetoTDI.sln
Business/bin
Business/obj
Business/Business.csproj
Persistence/bin
Persistence/obj
Persistence/Persistence.csproj
Model/bin
Model/obj
Model/Model.csproj